In [1]:
import os
import re
import pandas as pd

from sqlalchemy import create_engine
from dotenv import load_dotenv, find_dotenv

load_dotenv(find_dotenv())

# OBTER AS VARIÁVEIS DO ARQUIVO (.env)
DB_HOST = os.getenv('DB_HOST_PROD')
DB_PORT = os.getenv('DB_PORT_PROD')
DB_NAME = os.getenv('DB_NAME_PROD')
DB_USER = os.getenv('DB_USER_PROD')
DB_PASS = os.getenv('DB_PASS_PROD')
DB_SCHEMA = os.getenv('DB_SCHEMA_PROD')

# CRIAR UMA URL DE CONEXÃO DO BANCO DE DADOS
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

engine = create_engine(DATABASE_URL)

In [6]:
folderPath = 'C:\\Users\\edinocencio\\getinvoiceETLPython\\data_sources\\'
df_final = pd.DataFrame()

for FileName in os.listdir(folderPath):
    fullFilePath = folderPath + FileName

    padrao = r"(\d{2}\.\d{2}\.\d{4})"

    # PROCURAR POR UMA CORRESPONDÊNCIA NA STRING USANDO A EXPRESSÃO REGULAR
    correspondencia = re.search(padrao, fullFilePath)

    if correspondencia:
        texto_extraido = correspondencia.group(1)
    
    if os.path.isfile(fullFilePath):
    # Abrindo o Data Frame
        df = pd.read_excel(fullFilePath)
        df['extractDate'] = texto_extraido
        df_final = pd.concat([df_final,df])
        
        
        print(texto_extraido)

01.02.2024
01.03.2023
01.03.2024
01.04.2024
01.06.2023
01.08.2023
01.09.2023
01.11.2023

In [7]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 122062 entries, 0 to 15352
Data columns (total 45 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Branch                  122062 non-null  int64
 1   Contract                122062 non-null  int64
 2   B+C                     91695 non-null   object
 3   Contract Code           122062 non-null  object
 4   Instalment              122062 non-null  float64
 5   NAV                     122062 non-null  float64
 6   Arrear                  120587 non-null  float64
 7   Contract Type           122062 non-null  object
 8   Insurance Key           122062 non-null  int64
 9   Acceptance Date         122035 non-null  datetime64[ns]
 10  End Of Lease Term       122062 non-null  datetime64[ns]
 11  Lessee Name             122062 non-null  object
 12  Lessee Street           122062 non-null  object
 13  Lessee Postal Code      122062 non-null  object
 14  Lessee Town             122062 non-null  object
 15  Lessee Area             120050 non-null  object
 16  Lessee State            122036 non-null  object
 17  Lessee E-Mail           122018 non-null  object
 18  Lessee Phone            120326 non-null  object
 19  Lessee VATID            122054 non-null  object
 20  Reseller Area           122062 non-null  object
 21  Reseller Name           122062 non-null  object
 22  Reseller Number         122062 non-null  int64
 23  Broker Area             122062 non-null  object
 24  Broker Name             122062 non-null  object
 25  Broker Number           122062 non-null  int64
 26  Start Of Lease Term     122062 non-null  datetime64[ns]
 27  Duration                122062 non-null  int64
 28  Annual Insurance Costs  122062 non-null  float64
 29  1/ Reminder             88029 non-null   datetime64[ns]
 30  2/ Reminder             63692 non-null   datetime64[ns]
 31  3/ Reminder             47880 non-null   datetime64[ns]
 32  Termination             22573 non-null   datetime64[ns]
 33  Customer number         122062 non-null  int64
 34  Asset no                122062 non-null  int64
 35  Asset type              122061 non-null  object
 36  Asset                   122062 non-null  object
 37  Manufacturer            122062 non-null  object
 38  Serasa Code             98849 non-null   object
 39  GL Score                107920 non-null  float64
 40  E4                      12908 non-null   object
 41  Request                 0 non-null       float64
 42  employee                0 non-null       float64
 43  extractDate             122062 non-null  object
 44  B&C                     30367 non-null   object
dtypes: datetime64[ns](7), float64(7), int64(8), object(23)
memory usage: 42.8+ MB

In [8]:
df_final['extractDate']

0        01.02.2024
1        01.02.2024
2        01.02.2024
3        01.02.2024
4        01.02.2024
            ...
15348    01.11.2023
15349    01.11.2023
15350    01.11.2023
15351    01.11.2023
15352    01.11.2023
Name: extractDate, Length: 122062, dtype: object